body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Titillium Web,PingFang SC,Hiragino Sans GB,Microsoft JhengHei,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
}


#loginForm {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

input[type="text"],
input[type="password"],
select{
    width: 99%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.button_container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.floating_button {
    position: fixed;
    top: 20px; 
    right: 20px; 
    background-color: rgba(52, 159, 195, 0.8);  
    color: white;
    border: none;
    border-radius: 50%; 
    width: 50px;
    height: 50px; 
    cursor: pointer; 
    z-index: 10; 
}
.floating_button:hover {    
    background-color: rgba(0, 105, 217, 0.8);
}
.badge {
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: rgba(52, 159, 195, 0.9); 
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px; 
    text-decoration: none; 
    z-index: 10;
}
.badge:hover {
    background-color: rgba(0, 105, 217, 0.8);
}